
<div id="pageDiv" class="page"  style="min-height:60em;" ng-controller="paymentMethodDetailCtrl">
  <form>
    <div class="row">
        <div class="col-lg-12">
            <section class="panel panel-default">
                <div class="panel-heading"><strong><span class="glyphicon glyphicon-th"></span> Formas de Pagamento</strong></div>
               
                  <div id="dataDiv" class="panel-body">
                    <div class="row">
                      <div ng-class="{'col-sm-12': !has_nfce, 'col-sm-6': has_nfce}">
                        <label>Nome(*):</label>
                          <div class="input-group form-validation" style="width: 100%">
                              <input id="name"
                                        focus="true"
                                        type="text"
                                        ng-disabled="is_money" 
                                        class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" 
                                        placeholder="" 
                                        data-ng-model="payment_list.name" 
                                        aria-required="true" 
                                        aria-invalid="true">                            
                          </div>
                          <span ng-show="is_money" class="text-small">* A forma de pagamento Dinheiro é obrigatória no sistema e não pode ser removida/alterada</span>
                      </div>
                      <div class="col-sm-6" ng-show="has_nfce">
                        <label>Selecione o código fiscal</label>          
                         <select ng-disabled="is_money" ng-options="codigo_fiscal.name for codigo_fiscal in codigo_fiscal_list" class="form-control" ng-model="selected_codigo_fiscal">
                            <option value=""> Selecione </option>
                         </select>
                                 
                      </div>
                                                     
                    </div>

                      <div ng-show="!is_money"  class="row">
                      <div class="col-sm-6">
                        <label>Dias para recebimento:</label>
                         <a tabindex="-1" class="tooltip5" href="#" style="background-color:black; border-radius:50%; color:white; padding: 1px 4px 1px 4px; font-weight:bold;  text-decoration: none;">?
                             <span>
                              Toda vez que você receber pagamentos em {{payment_list.name}} será gerado automatica mente uma 'conta a receber' dentro dos dias informados aqui
                             </span>
                          </a> 
                          <div class="input-group form-validation" style="width: 100%">
                              <input id="name"
                                        focus="true"
                                        type="text"
                                        
                                        class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" 
                                        placeholder="" 
                                        data-ng-model="payment_list.days_to_receive" 
                                        aria-required="true" 
                                        aria-invalid="true">                            
                          </div>
                          
                      </div>
                      <div class="col-sm-6">
                        <label>Taxas(%):</label>
                        <a tabindex="-1" class="tooltip6" href="#" style="background-color:black; border-radius:50%; color:white; padding: 1px 4px 1px 4px; font-weight:bold;  text-decoration: none;">?
                             <span>
                              Toda vez que você receber pagamentos em {{payment_list.name}} será gerado automaticamente uma 'conta a receber' descontando a taxa informada nesse campo. Exemplo: Visa cobra em torno de 1.25% então você vai receber o total vendido em visa menos essa porcentagem
                             </span>
                          </a> 
                          <div class="input-group form-validation" style="width: 100%">
                              <input id="name"
                                        focus="true"
                                        type="text"
                                        ng-blur="verifyIfValidNumber()"
                                        class="form-control ng-pristine ng-untouched ng-invalid ng-invalid-required" 
                                        placeholder="" 
                                        data-ng-model="payment_list.tax" 
                                        aria-required="true" 
                                        aria-invalid="true">                            
                          </div>
                      </div>
                                                     
                    </div>               
                  </div>
              </section>
        </div>
    </div>

    <div>
        <button class="btn btn-success" ng-disabled="is_money" name="save" ng-click="verify()">
            <span class="fa fa-save"></span> Salvar
        </button>
       
        <button class="btn btn-danger"  ng-click="return_page()">
            <span class="ti-back-left"></span> Voltar
        </button>
    </div>
    </form>   
</div>



    
