<div class="page"  style="min-height:37em" ng-controller="paymentMethodCtrl">
    <div class="panel panel-default">
        <div class="panel-heading">
            <strong><span class="glyphicon glyphicon-th"></span> Formas de pagamento</strong>
        </div>
        <div id="paymentMethodListDiv" class="panel-body table-responsive">
            <swtable identifier="paymentMethodList"
                     data="payment_list" 
                     xls-name = "Pagamento"
                     onrowclick="#/payment-method/detail" 
                     on-delete-click="deletePaymentMethodItens" 
                     searchplaceholder="Buscar formas de pagamento"
                     inserturlpage="/storage/detail"

                     new-btn-actions='[{"label":"Novo", "function":"redirectToNew"}]'>

                          <swcolumn label="Selecione"             type="checkbox"    width="1em;"/>
                          <swcolumn label="Nome"                  key="name"         />
                          <swcolumn label="Data de cadastro"      key="created_at"  />

                          
            </swtable>  
        </div>
    </div>
</div>

 