<div class="page page-dashboard" id="user" ng-controller="dashCtrl">
	<div class="row" style="text-align:center" style="margin-top:2%">
 		<img style="margin-top:2%" class="img-dash" id="img-logo" alt="logo" src="images/icon.png"> 
 	</div>
 	<div class="row" style="text-align:center">
		<a type="button" href="#/cliente-detalhe" class="botao-novo btn btn-primary btn-lg">Usar Calculadora</a>
	</div>

</div>
  