        
<div class="nav-wrapper" data-ng-controller="sidebarCtrl">
    <ul id="nav"
        ng-if="!notConfirmed"
        class="nav"
        data-slim-scroll
        data-collapse-nav        
        >
        <li class="nav-title">
            <span data-translate="Menu"></span>
        </li>



        <li ng-show="PERM_VIEW_DOWNLOAD">
            <a href="#/couvert/list"><i class="ti-cloud-down"></i><span data-translate="Downloads"></span></a>

            <ul>        
                        <li ng-class="{active: isActiveEqual('/user/ponto_de_venda')}">
                            <a href="#/user/ponto_de_venda"><i class="ti-microsoft-alt"></i><span data-translate="Frente de Caixa"></span></a>
                        </li>
                        <li ng-class="{active: isActiveEqual('/user/comanda_eletronica')}">
                            <a href="#/user/comanda_eletronica"><i class="ti-android"></i><span data-translate="Comanda Eletrônica"></span></a>
                        </li>                      

            </ul>
        </li>

        <li ng-show="PERM_VIEW_REGISTER">
            <a href="#/couvert/list"><i class="ti-settings"></i><span data-translate="Cadastros"></span></a>

            <ul> 
                        <li ng-class="{active: isActive('/delivery-region/')}">
                            <a href="#/delivery-region/list"><i class="ti-truck"></i><span data-translate="Regiões de Tele-Entrega"></span></a>
                        </li>

                        <li ng-class="{active: isActive('/payment-method/')}">
                            <a href="#/payment-method/list"><i class="ti-money"></i><span data-translate="Formas de pagamento"></span></a>
                        </li>

                        <!-- <li ng-class="{active: isActive('/couvert/')}">
                            <a href="#/couvert/list"><i class="ti-microphone-alt"></i><span data-translate="Ingresso"></span></a>
                        </li> -->

                        <li ng-class="{active: isActive('/tables/')}">
                            <a href="#/tables/detail"><i class="ti-layout-grid2"></i><span data-translate="Mapa de mesas"></span></a>
                        </li>

                        <li ng-class="{active: isActiveConsumption('consumption')}">
                            <a href="#/user/user_consumption"><i class="ti-user"></i><span data-translate="Consumação funcionários"></span></a>
                        </li>

                        <li ng-show="PERM_VIEW_USERS" ng-class="{active: isActive('/user/')}">
                             <a href="#/user/list"><i class="ti-id-badge"></i><span data-translate="Funcionários"></span></a>
                        </li> 

            </ul>
        </li>


        <li ng-show="PERM_VIEW_USERS && !PERM_VIEW_REGISTER" ng-class="{active: isActive('/user/')}">
              <a href="#/user/list"><i class="ti-id-badge"></i><span data-translate="Funcionários"></span></a>
        </li>

        <li ng-show="PERM_VIEW_SALES">
            <a  href="#/couvert/list"><i class="ti-files"></i><span data-translate="Vendas"></span></a>
            <ul>
                <li ng-class="{active: isActive('/sales/sales_overview')}">
                    <a href="#/sales/sales_overview"><i class="ti-files"></i><span data-translate="Entenda Suas Vendas"></span></a>
                </li>  
                <li  ng-class="{active: isActive('/sales/cashier_register') || isActive('/bill/detail')}">
                    <a href="#/sales/cashier_register_report"><i class="ti-files"></i><span data-translate="Fechamentos"></span></a>
                </li>
                <li  ng-class="{active: isActive('/sales/itens_report')}">
                    <a href="#/sales/itens_report"><i class="ti-files"></i><span data-translate="Pedidos"></span></a>
                </li>
                 <li  ng-class="{active: isActive('/sales/canceled_item_report')}">
                    <a href="#/sales/canceled_item_report"><i class="ti-files"></i><span data-translate="Pedidos Cancelados"></span></a>
                </li>
                <li  ng-class="{active: isActive('/sales/canceled_bill')}">
                    <a href="#/sales/canceled_bill"><i class="ti-files"></i><span data-translate="Comandas Canceladas"></span></a>
                </li>
                <li  ng-class="{active: isActive('/sales/categories_report')}">
                    <a href="#/sales/categories_report"><i class="ti-files"></i><span data-translate="Categorias"></span></a>
                </li>
                <li  ng-class="{active: isActive('/sales/sales_report_by_payment_method')}">
                    <a href="#/sales/sales_report_by_payment_method"><i class="ti-files"></i><span data-translate="Formas de Pagamento"></span></a>
                </li>
                <li  ng-class="{active: isActive('/sales/sales_report_by_user')}">
                    <a href="#/sales/sales_report_by_user"><i class="ti-files"></i><span data-translate="Vendas Por Funcionários"></span></a>
                </li>  
                <li  ng-class="{active: isActive('/sales/customer_list')}">
                    <a href="#/sales/customer_list"><i class="ti-files"></i><span data-translate="Clientes"></span></a>
                </li>                
            </ul>
        </li>

        <li ng-show="PERM_VIEW_MENU" >
            <a  href="#/menu/list"><i class="ti-agenda"></i><span data-translate="Cardápio"></span></a>
                <ul>
                    <li ng-class="{active: isActive('/menu/')}">
                        <a href="#/menu/list"><i class="ti-agenda"></i><span data-translate="Itens">
                        </span></a>
                    </li>
                    <li ng-class="{active: isActive('/category/')}">
                        <a href="#/category/list"><i class="ti-menu-alt"></i><span data-translate="Categorias"></span></a>
                    </li>     
                    <li ng-class="{active: isActive('/additional/')}">
                        <a href="#/additional/list"><i class="ti-align-justify"></i><span data-translate="Adicionais"></span></a>
                    </li>
                    <li ng-class="{active: isActive('/observation/')}">
                            <a href="#/observation/list"><i class="ti-comment-alt"></i><span data-translate="Observações"></span></a>
                    </li>
                </ul>
        </li>



       <li ng-show="PERM_VIEW_MENU" >
            <a  href="#/menu/digital"><i class="ti-agenda"></i>
                <span data-translate="Cardápio Digital"></span>
            </a>
        </li> 

        <li ng-show="PERM_VIEW_REGISTER" >
            <a  href="#/menu/list"><i class="ti-receipt"></i><span data-translate="Fiscal"></span></a>
                <ul>
                    <li ng-class="{active: isActiveConsumption('nfce')}">
                        <a href="#/nfce/detail"><i class="ti-settings"></i><span data-translate="Configurações"></span></a>
                    </li>
                    <li ng-class="{active: isActive('/sales/bill_report')}">
                        <a href="#/sales/bill_report"><i class="ti-menu-alt"></i><span data-translate="Notas Fiscais"></span></a>
                    </li>     
                    <!--<li ng-class="{active: isActive('/additional/')}">
                        <a href="#/additional/list"><i class="ti-align-justify"></i><span data-translate="Adicionais"></span></a>
                    </li>-->  
                </ul>
        </li>

        
        <li ng-show="PERM_VIEW_STORAGE">
             <a  href="#/couvert/list"><i class="ti-package"></i><span data-translate="Estoque"></span></a>
             <ul>
                <li ng-class="{active: isActive('/storage/list'), active: isActiveStorageDetail('/storage/detail')}">
                    <a href="#/storage/list"><i class="ti-package"></i><span data-translate="Insumos">
                    </span></a>
                </li>
                <li ng-class="{active: isActive('/storage/shopping')}">
                    <a href="#/storage/shopping"><i class="ti-files"></i><span data-translate="Relatório de compras">
                    </span></a>
                </li>
                <li ng-class="{active: isActive('/storage/sales')}">
                    <a href="#/storage/sales"><i class="ti-files"></i><span data-translate="Relatório de vendas">
                    </span></a>
                </li>
            </ul>
        </li>    
        
        <li ng-show="PERM_VIEW_REGISTER">
            <a href="#/couvert/list"><i class="ti-money"></i><span data-translate="Financeiro"></span></a>

            <ul>        
                        <li ng-class="{active: isActiveEqual('/financial/list')}">
                            <a href="#/financial/list"><i class="ti-menu-alt"></i><span data-translate="Categorias"></span></a>
                        </li>
                        <li ng-class="{active: isActiveEqual('/financial/bills_to_pay')}">
                            <a href="#/financial/bills_to_pay"><i class="ti-money"></i><span data-translate="Contas a pagar"></span></a>
                        </li>         
                        <li ng-class="{active: isActiveEqual('/financial/bills_to_receive')}">
                            <a href="#/financial/bills_to_receive"><i class="ti-money"></i><span data-translate="Contas a receber"></span></a>
                        </li>     
                        <li ng-class="{active: isActiveEqual('#/financial/extract')}">
                            <a href="#/financial/extract"><i class="ti-money"></i><span data-translate="Extrato"></span></a>
                        </li>                  

            </ul>
        </li>
        

         <li ng-class="{active: isActiveUserDetail('/user/detail')}">
            <a href="#/user/detail/{{aboutUrl}}"><i class="ti-user"></i><span data-translate="Meus Dados"></span></a>
        </li>

        <li ng-show="show_about"  ng-class="{active: isActive('/about/list')}">
            <a href="#/about/list"><i class="ti-home"></i><span data-translate="Estabelecimento"></span></a>
        </li>

        <li ng-class="{active: isActive('/support/list')}">
            <a href="#/support/list"><i class="ti-headphone-alt"></i><span data-translate="Suporte"></span></a>
        </li>





    </ul>
</div>