<div class="form" role="dialog" ng-controller="medicamentoDetailCtrl">
   
      <div id="form" style="margin-top:2%">
        
          
            <div class="form-group"> 
              <label>Nome</label>               
              <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="medicamento.nome"> 
            </div>
             <div class="form-group row">   
              <div class="col-md-6">   
                <label>Dose</label>          
                <input type="number" placeholder="" class="form-control" id="nome" data-ng-model="medicamento.dose">  
              </div>
              <div class="col-md-6"> 
                <label>Apresentação</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="medicamento.apresentacao">  
              </div>
            </div> 
            
            
               <a type="button" ng-click="salvar()" class="botao-novo pull-right btn btn-primary btn-lg" >Salvar</a> 
          
        
        
      </div>
    
</div>