<div class="page page-dashboard" id="user" ng-controller="medicamentoCtrl"> 
<h1>Medicamentos</h1>
  
    
      <input type="text"  class="form-control pull-left" style="width:50%; margin-top:5%" ng-model="searchText" placeholder="Procurar...">
  
<a type="button" href="#/medicamento-detalhe" class="botao-novo pull-right btn btn-primary btn-lg">Novo Medicamento</a>

<table class="table table-responsive table-striped">
 
   <thead>
    <tr>
      <th>Nome</th>
      <th>Dose</th>
      <th>Apresentação</th>
    </tr>
  </thead>
  <tbody>
   <tr ng-repeat="m in medicamentos | filter:searchText">
    <td style="cursor:pointer; hover:blue" ng-click="goTo(m)">{{ m.nome }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(m)">{{ m.dose }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(m)">{{ m.apresentacao }}</td>
  </tr>
</tbody>
</table>


</div>
  