<div class="page page-dashboard" id="user" ng-controller="pacienteCtrl"> 
<h1>Pacientes</h1>
  
    
      <input type="text"  class="form-control pull-left" style="width:50%; margin-top:5%" ng-model="searchText" placeholder="Procurar...">
  
<table class="table table-responsive table-striped">
 
   <thead>
    <tr>
      <th>Nome</th>
      <th>Espécie</th>
      <th>Nome do Proprietário</th>
    </tr>
  </thead>
  <tbody>
   <tr ng-repeat="p in pacientes | filter:searchText">
    <td style="cursor:pointer; hover:blue" ng-click="goTo(p)">{{ p.nome }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(p)">{{ p.especie }}</td>
    <td style="cursor:pointer; hover:blue" ng-click="goTo(p)">{{ p.proprietario.nome }}</td>
  </tr>
</tbody>
</table>


</div>
  