<div class="form" role="dialog" ng-controller="pacienteDetailCtrl">
   
      <div id="form" style="margin-top:2%">
        
          
            <div class="form-group row"> 
              <div class="col-md-4">   
                 <label>Nome</label>               
                 <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="paciente.nome"> 
              </div>
              <div class="col-md-4">   
                <label>Espécie</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="paciente.especie">  
              </div>
              <div class="col-md-4">   
                <label>Peso</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="paciente.peso">  
              </div>
            </div>
             <hr>
            <h3>Medicamento</h3>
            <div class="form-group row"> 
             <div class="col-md-6">   
                 <label>Nome do Medicamento</label>               
                 <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="medicamento.nome"> 
              </div>
              <div class="col-md-6">   
                <label>Dose Utilizada</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="medicamento.dose">  
              </div>
            </div>


              <input type="text"  class="form-control" style="width:50%; margin-top:2%; margin-bottom:2%" ng-model="searchText" placeholder="Procurar...">



              <table class="table table-responsive table-striped">
 
                 <thead>
                  <tr>
                    <th>Data de Atendimento</th>
                    <th>Medicamento</th>
                    <th>Dose Utilizada</th>
                  </tr>
                </thead>
                <tbody>
                 <tr ng-repeat="m in paciente.medicamentos | filter:searchText">
                  <td>{{ m.data }}</td>
                  <td>{{ m.nome }}</td>
                  <td>{{ m.dose }}</td>
                 </tr>
                </tbody>
              </table>
               <a type="button" ng-click="salvar()" class="botao-novo pull-right btn btn-primary btn-lg" >Salvar</a> 
          
        
        
      </div>
    
</div>