<div class="form" role="dialog" ng-controller="userDetailCtrl">
   
      <div id="form" style="margin-top:2%">
        
          
            <div class="form-group"> 
              <label>Nome Completo</label>               
              <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="cliente.nome"> 
            </div>
             <div class="form-group row">   
              <div class="col-md-6">   
                <label>Telefone</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="cliente.telefone">  
              </div>
              <div class="col-md-6"> 
                <label>CPF</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="cliente.cpf">  
              </div>
            </div> 
            <div class="form-group"> 
              <label>Endereço</label>               
              <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="cliente.endereco">  
            </div>
            <h3>Paciente</h1>
            <a type="button" style="margin-top:1%" ng-click="salvarpaciente()" class=" btn btn-info btn-sm">Adicionar</a> 
              
            <div class="form-group row" style="margin-top:2%" ng-repeat="p in cliente.pacientes" ng-if="qtd_paciente > 0">   
              <div class="col-md-5">   
                <label>Nome</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="p.nome">  
              </div>
              <div class="col-md-5"> 
                <label>Espécie</label>
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="p.especie">  
              </div>
              
            </div>
            <div class="form-group row" style="margin-top:2%" ng-if="qtd_paciente == 0">   
              <div class="col-md-5">   
                <label>Nome</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="cliente.pacientes.nome">  
              </div>
              <div class="col-md-5"> 
                <label>Espécie</label>          
                <input type="text" placeholder="" class="form-control" id="nome" data-ng-model="cliente.pacientes.especie">  
              </div>
               
            </div>
               <a type="button" ng-click="salvar()" class="botao-novo pull-right btn btn-primary btn-lg" >Salvar</a> 
          
        
        
      </div>
    
</div>